@font-face {
  font-family: 'Proxima Nova';
  src: url('../../assets/fonts/Proxima Nova.eot');
  src: url('../../assets/fonts/Proxima Nova.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/Proxima Nova.woff') format('woff'),
       url('../../assets/fonts/Proxima Nova.ttf') format('truetype'),
       url('../../assets/fonts/Proxima Nova.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
