/* Button Component */

.button {
  font-size: em(14);
  letter-spacing: -0.1px;
  padding: 10px 15px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 124px;
  background: #459fed;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
