html {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
font-family: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", "Helvetica Neue", "Helvetica", "Arial", "\30E1\30A4\30EA\30AA", "meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro";
color: #222;
line-height: 1.2;
font-size: 13px;
}

.sb-header {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

.sb-table {
    border-collapse: collapse;
    border: 1px solid #e3e3e3;
    th, td {
        border: 1px solid #e3e3e3;
        padding: 20px;
    }
}


.modal-overlay {
    background-color: rgba(216, 216, 216, 0.7);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    width: min-content;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}